body {
    margin: 0;
    font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
}

p {
    margin: 0;
}

#header {
    background: #074E68;
    color: white;
    padding: 1rem 0 2rem;
    position: relative;
    text-align: center;
}

#header h1 {
    font-size: 3.5em;
    font-weight: 500;
    line-height: 1;
    font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav ul {
    position: absolute;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    float: none;
}

.nav li a {
    display: block;
    color: white;
    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.9rem 1rem 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background: rgba(255,255,255,0.15);
    transition: all .25s ease-in-out;
}

.nav .active {
    background: rgba(255,255,255,0.15);
}

#content {
    max-width: 50rem;
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
    color: #767676;
    font-size: 1.125rem;
    line-height: 1.6;
}

#content input, #content textarea {
    padding: 8px;
    margin: 8px;
    border: solid 1px #ccc;
    border-radius: 3px;
    width: 300px;
}